@import "../colors.scss";

.imageContainer {
    display: grid;
  }
  
  .overlay {
    grid-area: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    hr {
      width: 100%;
      border: 1px solid $quaternary-color;
    }
    button {
        opacity: 0.4 ;
        height: 50%;
        width: 100%;
        font-size: $font-size-largest;
        border-radius: 0px;
        border: none
    }
    // selected the second button
    button:last-child {
      font-size: $font-size-large;
    }
  }
  
  .img {
    grid-area: 1 / 1;
  }
 